html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: Arial;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//============================================RESET CSS=============================================================
@import 'node_modules/animate.css/animate.css';
$blue__l: #81DAF3;
$blue__m: #7DCBFD;
$blue__d: #00B1FB;
$pink__l: #FFC8EF;
$pink__m: #FFA7C8;
$pink__d: #FF79CA;
$text__color: #557AB3;
$text__color--d:rgba(15, 62, 132, 1);
*, ::after, ::before {
    box-sizing: border-box;
}
img{
    object-fit: cover;
}
.clearfix::after ,.clearfix::before {
    content: "";
    clear: both;
    display: table;
}
@font-face{
	font-family: 'iCiel_Gotham_Rounded';
	src: url('iCielGotham-Medium.woff2') format('woff2'),
		url('iCielGotham-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

.open {
	display:block;
}

.sideCardR{
	position: fixed;
	left:0;
	width: 140px;
	height: 151.31px;
	// margin-left: 140px;
	top: 30vh;
	// position:relative;

	z-index: 3;

	background: #DEF8FF;
	border: 1.75px solid #64D4FC;
	box-sizing: border-box;
	border-radius: 8.75px 0px 0px 8.75px;
	a{
		text-decoration: none;
	}
	a:hover{
		color: #0F3E84;
	}
	&__img{
		position:absolute;
		margin-top:-80px;
	}
	&__title{
		position:absolute;
		margin-top:80px;
		margin-left:11px;
	}
	&__subtitle{
		display: block;
		font-family: iCiel_Gotham_Rounded;
				// font-family: Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 9px;
		line-height: 10px;

		letter-spacing: -0.02em;

		color: #0F3E84;
	}
	@media (max-width: 1209px){
		display:none;
	}
}

.sideCardL{
	position: fixed;
	right:0;
	width: 140px;
	height: 151.31px;
	// margin-left: 140px;
	top: 30vh;
	// position:relative;

	z-index: 3;

	background: $pink__l;
	border: 1.75px solid #64D4FC;
	box-sizing: border-box;
	border-radius: 8.75px 0px 0px 8.75px;
	a{
		text-decoration: none;
	}
	a:hover{
		color: #0F3E84;
	}
	&__img{
		position:absolute;
		margin-left:-35px;
	}
	&__title{
		position:absolute;
		margin-top:120px;
		margin-left:25px;

	}
	@media (max-width: 1209px){
		display:none;
	}
	
}

.nav{
	position: fixed;
	display: inline-block;
	height:auto;
	padding-top:18px;
	width:100%;
	overflow: visible;
	z-index:6;
	@media (max-width: 1209px){
		background: rgba(241, 252, 255, 1);
		padding-top:5px;

	}
	&__item{
		&--logo{
			float: left;
			margin-left:6%;
			margin-top:5px;
			height:48px;
		}
		&--links{
			float: right;
			width:auto;
			height:48px;
			margin-top:5px;
			margin-right:7%;
		}
		&--icon{
			float: right;
			margin-top:27px;
			margin-right:21.26px;
			color: $text__color;
			
			display: none;
		}
		@media (max-width: 1209px){
			&--logo{
				width: 200.52px;
				height: 55px;
				margin-left: 15px;
				margin-top: 10px;
			}
			&--links{
				display: none;
				width:100%;
				margin-right:10px;
				height:auto;
				height:100vh;
			}
			&--icon{
				display: block;
			}
		}

	}
	&__links{
		display: inline-block;

		text-transform: uppercase;
		font-family: iCiel_Gotham_Rounded;
				// font-family: Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: -0.02em;		

		margin-left:16px;
		@media (max-width: 1209px){
			display: table;
			margin-top: 22px;
			margin-bottom: 22px;
			margin-left:30px;
			
		}
		
		.mobile__icon{
			float:right;
			margin-left:100px;
		}
	}
	&__divider{
		display:none;
		width: 90%;
		margin-left:30px;
		margin-right:30px;
		top: 54px;
		border: 1px solid rgba(15, 62, 132, 0.2);			
		@media (max-width: 1209px){
			display:block;
		}
	}
	&__icon{
		display: inline-block;
		font-size: 30px;
	}
	
}
.section{
	display:block;
	position:relative;
	height: 100vh;
	width:100%;
	background-image: url(../images/background2.png),url(../images/background1.png) ;
	background-position: right bottom, left bottom;
	background-size: 60%, 60%;
	background-repeat: no-repeat;
	// border:solid;
	@media (max-width: 1209px){
		height:auto !important;
		background:none;
	}

}
.section.active {
	animation:fadeIn ;
	animation-duration: 1s;
	.first{
		&__img{
			animation:flipInX ;
			animation-duration: 1s;
		}
		&__des {
			.des{
				&__title{
					animation:backInDown ;
					animation-duration: 1s;
				}
				&__subtitle{
					animation:bounceIn ;
					animation-duration: 1s;
				}
				&__text{
					animation:fadeInDown ;
					animation-duration: 1s;
				}
			}
			
		}
	}
	.second{
		&__how{
			.how{
				&__step{
					animation:slideInLeft ;
					animation-fill-mode: backwards;
					animation-duration: 1s;
				}
				&__step:nth-of-type(1){
					animation-delay: 1s;
				}
				&__step:nth-of-type(2){
					animation-delay: 2s;
				}
				&__step:nth-of-type(3){
					animation-delay: 3s;
				}
				&__step:nth-of-type(4){
					animation-delay: 4s;
				}
			}
		}
	}
	.third{
		&__prize{
			animation:jackInTheBox ;
			animation-fill-mode: backwards;
			animation-duration: 1s;
		}
		&__prize:nth-of-type(1){
			animation-delay: 1s;
		}
		&__prize:nth-of-type(2){
			animation-delay: 2s;
		}
		&__prize:nth-of-type(3){
			animation-delay: 3s;
		}
		&__prize:nth-of-type(4){
			animation-delay: 4s;
		}
	}
	.swiper-slide{
		animation:rotateIn;
		animation-duration: 1s;
	}
	.fifth{
		&__news{
			animation:zoomIn;
			animation-duration: 1s;
		}
	}
}

.first{	
	&__container{
		display:block;
		width: auto;
		height: auto;
		
		border: 2px solid #FF79CA;
		border-radius: 16px;
		background: #FFFFFF;
		@media (max-width: 1209px){
			background:none;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			padding-bottom:50px;
			border:none;
			overflow:hidden;
		}

	}
	&__img{
		float:left;
		width: 60%;
		height: auto;
		margin-left: 42px;
		margin-top: 66px;
		
		img {
			width: 100%;
		}
		@media (max-width: 1209px){
			width:200%;
			margin-left:-75%;
			margin-top: 0;
		}

	}
	&__des{
		
		float:left;
		width:30%;
		margin-left:30px;
		margin-top: 30px;
		@media (max-width: 1209px){
			width:100%;
			margin-left:0;
		}
		.des{
			&__img{
				width: 100%;
				display:block;
				
			}
			&__title {
				margin-bottom:8px;
				
				width:90%;
				margin-left:auto;
				margin-right: auto;
				img{
					width:100%;
					height:auto;
					
				}
				

			}
			
			&__subtitle{
				margin-bottom:8px;
				
				width:75%;
				margin-left:auto;
				margin-right: auto;
				img {
					width:100%;
					height:auto;
				}
			}
			&__text {
				width: 100%;
				font-family: iCiel_Gotham_Rounded;
				// font-family: Arial, Helvetica, sans-serif;
				font-style: normal;
				font-weight: 300;
				font-size: 14px;
				line-height: 130%;
				text-align: center;
				letter-spacing: -0.02em;

				color: #0F3E84;
				margin-bottom:14px;
				

			}
			&__button{
				display:inline-block;

				font-family: iCiel_Gotham_Rounded;
				// font-family: Arial, Helvetica, sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 12px;
				line-height: 14px;
				letter-spacing: -0.02em;

				border-color: #FEB3CF;

			}
		}
	}
}

.second{	
	&__container{
		display:block;
		width: auto;
		height: auto;
		
		border: 2px solid #FF79CA;
		border-radius: 16px;
		background: #FFFFFF;
		@media (max-width: 1209px){
			background:none;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			border:none;
			overflow:hidden;
		}
	}
	&__des {
		float:left;
		width:20%;
		// border:solid;
		margin-top:75px;
		margin-right:5%;
		margin-left: 40px;
		@media (max-width: 1209px){
			float:none;
			width:80%;
			margin-right:auto;
			margin-left: auto;
		}
		.des {
			&__title{

				width:100%;
				display: inline-block;
				margin-bottom:10px;
				
				font-family: iCiel_Gotham_Rounded;
				font-style: normal;
				font-weight: bold;
				font-size: 41px;
				// line-height: 41px;

				letter-spacing: 0.06em;

				color: #9EE6FF;

				text-shadow:0 0 2px darken(#0F3E84,10%), 
							0 0 2px darken(#0F3E84,10%), 
							0 0 2px darken(#0F3E84,10%), 
							0 0 2px darken(#0F3E84,10%), 
							0 0 2px darken(#0F3E84,10%), 
							0 0 2px darken(#0F3E84,10%), 
							6px 2px 1px darken(#0F3E84,5%), 
							0 0 2px darken(#0F3E84,10%);

				// margin-bottom:20%;
				// img{
				// 	width:100%;
				// }
				// .desktop{
				// 	display:inline-block;
				// }
				// .mobile{
				// 	display:none;
				// }
				@media (max-width: 1209px){
					margin-bottom:60px;
					display:block;
					color: #FFFFFF;
					text-align: center;
					// .mobile{
					// 	display:block;
					// }
					// .desktop{
					// 	display:none;
					// }
				}
			}
			&__subtitle {
				
				font-family: iCiel_Gotham_Rounded;
				// font-family: Arial, Helvetica, sans-serif;				
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 130%;

				letter-spacing: -0.02em;

				color: #0F3E84;
				@media (max-width: 1209px){
					display:none;
				}

			}
		}
	}
	&__how {
		right:0;
		

		display:inline-block;
		width: 70%;
		@media (max-width: 1209px){
			width: 100%;
		}

		.how {
			&__step {
				
				float:left;
				width:50%;
				margin-top:75px;
				@media (max-width: 1209px){
					width: 100%;
					margin-top:2px;
				}
				.step {
					&__des {
						
						font-family: iCiel_Gotham_Rounded;
						// font-family: Arial, Helvetica, sans-serif;						
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 17px;
						letter-spacing: -0.02em;

						color: #0F3E84;
						
					}
					&__text{
						width:60%;
						float:left;
						@media (max-width: 1209px){
							margin-left:5%;
						}

					}
					&__img{
						float:left;
						width:30%;
						img {
							width:70%;
						}
						@media (max-width: 1209px){
							img {
								width:100%;
							}
						}

					}
					&__title {
						display: block;

						font-family: iCiel_Gotham_Rounded;
						font-style: normal;
						font-weight: bold;
						font-size: 23px;
						line-height: 23px;
						/* identical to box height, or 24px */

						letter-spacing: -0.02em;
						color: #18B5ED;

						text-shadow:0 0 1px darken(#0F3E84,10%), 
							0 0 1px darken(#0F3E84,10%), 
							0 0 1px darken(#0F3E84,10%), 
							0 0 1px darken(#0F3E84,10%), 
							0 0 1px darken(#0F3E84,10%), 
							0 0 1px darken(#0F3E84,10%), 
							0 0 1px darken(#0F3E84,10%);

						@media (max-width: 1209px){
							margin-bottom:14px;
						}

					}
				}
			}
		}
		
	}
}

.third{	
	&__container{
		display:flex;
		position: relative;
		flex-direction: column;
		justify-content: flex-start;
		width: auto;
		height: auto;
		
		border: 2px solid #FF79CA;
		border-radius: 16px;
		background: #FFFFFF;
		padding-top:5%;
		@media (max-width: 1209px){
			background:none;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			border:none;
			overflow:hidden;
			padding-top:30%;
		}
	}
	&__row{
		display:flex;
		justify-content: center;
		flex-direction:row;
		position: relative;
		width:100%;
		@media (max-width: 1209px){
			flex-wrap: wrap;
		}
	}
	&__row:nth-of-type(1){
		@media (max-width: 1209px){
			flex-direction:column ;
		}
	}
	&__prize{
		display: flex;
		flex-direction:row ;
		justify-content: space-around;
		align-items: center;
		position: relative;
		@media (max-width: 1209px){
			flex-direction:column ;
			justify-content: center;
		}

		p{
			font-family: iCiel_Gotham_Rounded;
			// font-family: Arial, Helvetica, sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 17.1294px;
			line-height: 21px;
			letter-spacing: -0.02em;

			color: #0F3E84;
		}
		.prize{
			&__img{
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				.img:nth-of-type(1){
					margin-left:auto;
					margin-right:auto;
					&:hover{
						animation-name:wave;
						animation-duration:0.5s;
						animation-iteration-count: infinite;
						animation-direction: alternate;
					}
				}
				@keyframes wave{
					50%{
						transform: rotate(15deg);
					}
					100%{
						transform: rotate(-15deg);
					}
				}
				.img:nth-of-type(1){
					bottom:0;
				}
				@media (max-width: 1209px){
					justify-content: center;
				}
			}
			
			&__text{
				margin-left:20px;
				@media (max-width: 1209px){
					display: flex;
					flex-direction:column ;
					justify-content: center;
					align-items: center;
				}
			}
			
			&__num{
				position:relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width:60px;
				height:60px;
				img{
					position:absolute;
				}
			}
			
		}
		
	}
	
	
	&__title{
		position: relative;
		display: flex;
		width: 35%;
		height:50px;
		flex-direction: column;
		justify-content: flex-start;
		.img:nth-of-type(1){
			position:absolute;
			top:0;
		}
		.img:nth-of-type(2){
			position:absolute;
			margin-top:30px;
		}
		.img:nth-of-type(3){
			position:absolute;
			right:0;
			margin-top:-100px;
			z-index:-1;
			display:none;
		}
		@media (max-width: 1209px){
			margin-top:50px;
			height:200px;
			margin-right: auto;
			margin-left: auto;
			
			.img:nth-of-type(3){
				display: flex;
			}
		}
		@media (max-width: 700px){
			width:100%;
			img{
				width:100%;
			}
		}

	}
	
}
	



.fourth {
	&__container{
		display:flex;
		flex-direction: column;
		width: auto;
		height: auto;
		
		border: 2px solid #FF79CA;
		border-radius: 16px;
		background: #FFFFFF;
		padding-top:30px;

		@media (max-width: 1209px){
			background:none;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			border:none;
			overflow:hidden;
		}
	}
	&__title{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom:20px;
		span{
			display:inline-block;
			font-family: iCiel_Gotham_Rounded;
			font-style: normal;
			font-weight: bold;
			font-size: 41.2927px;
			
	
			letter-spacing: 0.01em;
	
			color: #9EE6FF;
			text-shadow:0 0 2px darken(#0F3E84,10%), 
						0 0 2px darken(#0F3E84,10%), 
						0 0 2px darken(#0F3E84,10%), 
						0 0 2px darken(#0F3E84,10%), 
						0 0 2px darken(#0F3E84,10%), 
						0 0 2px darken(#0F3E84,10%), 
						5px 2px 1px darken(#0F3E84,5%), 
						0 0 2px darken(#0F3E84,10%);
			@media (max-width: 1209px){
				color: #FFFFFF;
				width:60%;
			}
		}
		
		// a{
		// 	float: left;
		// 	.desktop{
		// 		display: block;
		// 	}
		// 	.mobile{
		// 		display: none;
		// 	}
		// 	@media (max-width: 1209px){
		// 		.desktop{
		// 			display: none;
		// 		}
		// 		.mobile{
		// 			display: block;
		// 		}
		// 	}

		// }
		div{
			float: right;
			@media (max-width: 1209px){
				display: none;
			}
		}
		p{
			display:none;
			font-family: iCiel_Gotham_Rounded;
			// font-family: Arial, Helvetica, sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			letter-spacing: -0.02em;

			color: #0F3E84;
			@media (max-width: 1209px){
				display: block;
				float: right;
				margin-top: 60px;
			}
		}
		
	}
	&__thumbnail{
		display: flex;
		width:100%;
		height: 172px;
		overflow: hidden;
		img{
			width:100%;
			transition: all 0.2s;
		}
		&:hover{
			img{
				transform: scale(1.2);
			}
		}
	}
	&__profile{
		margin-top:20px;
		margin-bottom:20px;
		width:100%;
		display: flex;
		justify-content: space-around;
		a{
			width: 80%;
			display: flex;
			img{
				object-fit:contain;
			}
		}
		p{
			display:flex;
			width:70%;
			margin-left:10px;
			text-transform: uppercase;

			font-family: iCiel_Gotham_Rounded;
			// font-family: Arial, Helvetica, sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			letter-spacing: -0.02em;
			text-transform: capitalize;

			color: #0F3E84;
			@media (max-width: 1209px){
				width:50%;
			}
		}
	}
	&__buttonGroup{
		width:100%;
		margin-bottom:20px;
		display: flex;
		justify-content: space-around;
	}
}

.swiper-container {
	width: 90%;
	height: auto;
	@media (max-width: 1209px){
		width: 92%;
	}
}

.swiper-slide {
	background: #FFFFFF;
	border-radius: 10px ;
	border:solid;
	border-color: $text__color--d;
	margin-bottom:30px;
}

.fifth {
	&__container{
		display:flex;
		flex-direction: column;
		width: auto;
		height: auto;
		
		border: 2px solid #FF79CA;
		border-radius: 16px;
		background: #FFFFFF;
		padding-top:30px;

		@media (max-width: 1209px){
			background:none;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			border:none;
			overflow:hidden;
		}
	}
	&__title{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom:20px;

		// a{
		// 	float: left;
		// }
		span{
			font-family: iCiel_Gotham_Rounded;
			font-style: normal;
			font-weight: bold;
			font-size: 41px;

			letter-spacing: 0.01em;

			color: #9EE6FF;
			text-shadow:0 0 2px darken(#0F3E84,10%), 
						0 0 2px darken(#0F3E84,10%), 
						0 0 2px darken(#0F3E84,10%), 
						0 0 2px darken(#0F3E84,10%), 
						0 0 2px darken(#0F3E84,10%), 
						0 0 2px darken(#0F3E84,10%), 
						5px 2px 1px darken(#0F3E84,5%), 
						0 0 2px darken(#0F3E84,10%);
		}
		div{
			float: right;
			@media (max-width: 1209px){
				display: none;
			}
		}
		
		p{
			display:none;
			font-family: iCiel_Gotham_Rounded;
			// font-family: Arial, Helvetica, sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			letter-spacing: -0.02em;

			color: #0F3E84;
			@media (max-width: 1209px){
				display: block;
				float: right;
				margin-top: 15px;
			}
		}
		@media (max-width: 1209px){
			margin-bottom:35px;
		}
	}
	&__list{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	&__news{
		float:left;
		position:relative;
		margin-bottom:20px;
		width:30%;
		height:316px;
		background: #FFFFFF;
		border-radius: 10px ;
		border:solid;
		border-color: $text__color--d;

		h2{
			font-family: iCiel_Gotham_Rounded;
			// font-family: Arial, Helvetica, sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 19px;

			margin-top:12px;

			letter-spacing: -0.02em;

			color: #1E2C5E;	

			height:57px;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			overflow: hidden;
			-webkit-box-orient: vertical;

		}
		p{
			position: absolute;
			bottom:0;
			
			font-family: iCiel_Gotham_Rounded;
			// font-family: Arial, Helvetica, sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 11px;
			line-height: auto;

			text-align: left;
			letter-spacing: -0.02em;

			margin-bottom:12px;

			color: #9CA5C5;
			.link {
				color: #FF79CA;
			}
		}
		.img{
			width:100%;
			display: block;
			height: 188px;
			overflow: hidden;
			img{
				width:100%;
				transition: all 0.2s;
			}
			&:hover{
				img{
					transform: scale(1.2);
				}
			}
			@media (max-width: 1209px){
				display:inline-block;
				float:left;
				margin-right:2px;
				width:100px;
				height: 100px;
				border-radius: 10px ;
				border:solid;
				border-color: $text__color--d;
				img{
					width: 160%;
					margin-left: -33px;
				}
			}

			
		}
		@media (max-width: 1209px){
			width: 100%;
			height:auto;
			margin-bottom: 22px;
			border:none;
		}
		
	}
	&__news:nth-child(2){
		margin-left:5%;
		margin-right:5%;
		@media (max-width: 1209px){
			margin-left:0;
			margin-right:0;
		}
	}
	&__text{
		width:97%;
		margin-left: auto;
		margin-right: auto;
		height:auto;
		height:57px;
		@media (max-width: 1209px){
			width:60%;
			float:left;
		}
	}
}

.sixth {
	&__container{
		display:flex;
		flex-direction: column;
		width: auto;
		height: 500px;
		
		border: 2px solid #FF79CA;
		border-radius: 16px;
		background: url(../images/final.png);
		background-position: center;
		
		@media (max-width: 1209px){
			width: 100%;
			height: 700px;

			border:none;
			border-radius: 0;
			overflow:hidden;
			background: url(../images/final_mobile.png);
		}
		a{
			display: none;
			width:100%;
			border:solid;
			img{
				width: 100%;
			}
			.desktop{
				display: block;
			}
			.mobile{
				display: none;
			}
			@media (max-width: 1209px){
				height:auto;
				.desktop{
					display: none;
				}
				.mobile{
					display: block;
				}
			}
		}
	}
	
}

.scroll{
	float:left;
	display:block;
	width:100%;
	
	text-align: center;
	&__text{
		font-family: iCiel_Gotham_Rounded;
		// font-family: Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		letter-spacing: -0.01em;

		color: #0F3E84;
		margin-bottom:15px;
		@media (max-width: 1209px){
			margin-bottom:5px;
		}

	}
	&__icon{
		display:block;
		margin-bottom:7px;
		animation: scroll_icon 1s infinite alternate

	}
	@media (max-width: 1209px){
		display: none;
	}
}
@keyframes scroll_icon{
	from {
		opacity:1;
		transform: translateY(-10px);
	}
	to {
		opacity: 0;
	}
}
.down__icon{
	margin-top: 7px;
	width: 38.59px;
	height: 26.28px;
	@media (max-width: 1209px){
		display: none;
	}

}


.centered{
	width:max-content;
	margin-left:auto;
	margin-right: auto;
}


@keyframes snowflakes-fall{
	0%{top:-10%}
	100%{top:100%}
}
@keyframes snowflakes-shake{
	0%{transform:translateX(0px)}
	50%{transform:translateX(100px)}
	100%{transform:translateX(0px)}
}
.snowflake__container{
	position:fixed;
	width:100%;
	top:0%;
	z-index:9999;
}
.snowflake{
	position:fixed;
	top:-10%;
	z-index:9999;
	animation-name:snowflakes-fall,snowflakes-shake;
	animation-duration:10s,3s;
	animation-timing-function:linear,ease-in-out;
	animation-iteration-count:infinite,infinite;
	animation-play-state:running,running;
}
// .snowflake:nth-of-type(0){
// 	left:0;
// 	animation-delay:0s,0s;
// 	img {
// 		transform: scale(1);
// 	}
// }
.snowflake:nth-of-type(1){
	left:0;
	animation-delay:1s,1s;
	img {
		transform: scale(0.6);
	}
}
.snowflake:nth-of-type(2){
	right:30%;
	animation-delay:6s,.5s;
	img {
		transform: scale(0.8);
	}
}
.snowflake:nth-of-type(3){
	right:10%;
	animation-delay:4s,2s;
	img {
		transform: scale(1);
	}
}
.snowflake:nth-of-type(4){
	left:40%;
	animation-delay:3s,2s;
	img {
		transform: scale(0.5);
	}
}
.snowflake:nth-of-type(5){
	left:20%;
	animation-delay:2s,2s;
	img {
		transform: scale(1);
	}
}
.snowflake:nth-of-type(6){
	right:20%;
	animation-delay:1s,1s;
	img {
		transform: scale(0.5);
	}
}

@keyframes glowing {
	from {
		box-shadow: 0 0 5px -5px #FEB3CF
	}
	to {
		box-shadow: 0 0 5px 5px #FEB3CF;
	}
}
.glow_button{
	animation: glowing 0.5s ease-in-out infinite alternate;
}



.mobile {
	&__log{
		display:none;
		width:100%; 
		margin-top:10vh;
		@media (max-width: 1209px){
			display: inline-block; 
		}
		@media (max-width:329px){
			margin-top:0;
		}
		li{
			display:inline-block;
		}
		.social__icon {
			display: inline;
			float:right;
			a {
				margin-right:20px;
				color:gray;
				@media (max-width:329px){
					margin-right:10px;
				}
			}
		}
	}
	&__bg{

		width:100%;
		display:none;
		height:250px;
		img {
			width: 100%;
			overflow:hidden;
		}
		@media (max-width: 1209px){
			display:block;
		}
	}
	&__titleBg{
		position: absolute;
		left:0;
		top:0;
		z-index: -1;
		display:none;
		@media (max-width: 1209px){
			display:block;
		}
	}
}

.footer{
	display:block;
	// border:solid;
	bottom:0;
	position:fixed;
	width:100%;
	height:auto;
	margin-bottom:15px;
	z-index:5;
	@media (max-width: 1209px){
		position:relative;
	}

	&__item{
		display:inline-block;
		font-family: iCiel_Gotham_Rounded;
		// font-family: Arial, Helvetica, sans-serif;		
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		line-height: 12px;

		color: #FFFFFF;
		


		a {
			display:inline-block;
			text-decoration: none;
			color: #FFFFFF;
			margin-left:52px;
			// border:solid;

			@media (max-width: 1209px){
				color: #0F3E84;
				float:right;
				margin-left:0;
				margin-right:15px;
			}
		}
		p {
			display:inline-block;
			// border:solid;

			@media (max-width: 1209px){
				float: left;
				margin-left:15px;
			}
		}
		margin-left: 137px;
		@media (max-width: 1209px){
			width:100%;
			margin-left:0;
			color: #0F3E84;

		}
		
		&--social{
			// display:inline-block;
			float: right;
			a{
				color:#0F3E84;
				text-decoration: none;
			}
			li{
				display:inline-block;
				margin-left: 17px;
			}			
			margin-right: 137px;
			@media (max-width: 1209px){
				display: none;
				
			}
		}
	}
}

.button {
	&__nav{
		border: 2px solid ;
		border-radius: 38px;
		border-color: transparent;
		padding: 8px 16px;

		transition: all 0.5s;
		background: #FFFFFF;
		a{
			text-decoration: none;
			color:$text__color;
		}
		&:hover{
			background: #64D4FC;	
			a{
				text-decoration: none;
				color:$text__color;
			}
		}

		&--login{
			border: 2px solid ;
			border-radius: 38px;
			border-color: #FFC8DD;
			padding: 8px 16px;

			transition: all 0.5s;
			background: #FFC8DD;
			a{
				text-decoration: none;
				color:$text__color--d;
			}
			&:hover{
				border-color: $pink__d;
				background: $pink__d;
				a{
					text-decoration: none;
					color:$text__color--d;
				}
			}
			@media (max-width: 1209px){
				display:none;
			}
		}
		&--mobileLog{
			border: 2px solid ;
			border-radius: 38px;
			padding: 8px 16px;

			transition: all 0.5s;
			border-color: #0F3E84;
			background: #0F3E84;
			a{
				text-decoration: none;
				color:#FFFFFF;
			}
			&:hover{
				background: #FFFFFF;
				a{
					text-decoration: none;
					color: #0F3E84;
				}
			}
		}
	}
	&--scroll{
		background: #FFFFFF;

		padding: 3px 12px;
		border-radius: 95px;

		color:$text__color--d;
		a{
			text-decoration: none;
			color:$text__color--d;
		}
		&:hover{
			background: #FFFFFF;
			a{
				text-decoration: none;
				color:$text__color--d;
			}
		}
	}
	&__fourth{
		display:inline-block;
		padding: 8px 16px;
		background: #DCF6FF;
		border: 2px solid #64D4FC;
		box-sizing: border-box;
		border-radius: 38px;
		transition: all 0.5s;

		font-family: iCiel_Gotham_Rounded;
		// font-family: Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: -0.02em;

		color: #0F3E84;
		a{
			text-decoration: none;
			color:#0F3E84;
		}
		&:hover{
			background: #64D4FC;
			a{
				text-decoration: none;
				color:#0F3E84;
			}
		}

	}
	&__swiper{

		padding: 8px 16px;
		background: #FFFFFF;
		border: 2px solid rgba(0, 0, 0, 0.4);
		box-sizing: border-box;
		border-radius: 38px;
		transition: all 0.5s;

		font-family: iCiel_Gotham_Rounded;
		// font-family: Arial, Helvetica, sans-serif;		
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;

		letter-spacing: -0.02em;
		a{
			text-decoration: none;
			color: rgba(0, 0, 0, 0.4);
		}
		&:hover{
			background: rgba(0, 0, 0, 0.4);
			a{
				text-decoration: none;
				color: #FFFFFF;
			}
		}
		.like__letter{
			font-family: iCiel_Gotham_Rounded;
			// font-family: Arial, Helvetica, sans-serif;	
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 16px;

			letter-spacing: -0.02em;

			color: #0F3E84;
		}
	}
	&__footer{
		position:relative;
		display: inline-block;
		// width: 196.74px;
		width:45%;
		margin-top:50px;
		height: 52px;	
		display: none;
		@media (max-width: 1209px){
			display:block;
		}

	}
	&__footer:nth-of-type(3){
		float:right;
		background: #FFDFEB;
		border: 1.75px solid #FF95BD;
		box-sizing: border-box;
		border-radius: 20px;
		.img{
			position: absolute;
			right:-5px;
			margin-top:-25px;
			img{
				width:100%;
			}
		}
		.title{
			position: absolute;
			margin-left:30%;
			top:5px;
			img{
				width: 100%;
			}
		}
	}
	&__footer:nth-of-type(2){
		float:left;
		background: #DEF8FF;
		border: 1.75px solid #64D4FC;
		box-sizing: border-box;
		border-radius: 20px;
		.img{
			position: absolute;
			left:-10px;
			margin-top:-50px;
			img{
				width:60%;
			}
		}
		.title{
			position: absolute;
			margin-left:35%;
			top:5px;
			img{
				width: 100%;
			}
		}
	}
	
}