@import 'node_modules/animate.css/animate.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: Arial;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

.clearfix::after, .clearfix::before {
  content: "";
  clear: both;
  display: table;
}

@font-face {
  font-family: "iCiel_Gotham_Rounded";
  src: url("iCielGotham-Medium.woff2") format("woff2"), url("iCielGotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.open {
  display: block;
}

.sideCardR {
  position: fixed;
  left: 0;
  width: 140px;
  height: 151.31px;
  top: 30vh;
  z-index: 3;
  background: #DEF8FF;
  border: 1.75px solid #64D4FC;
  box-sizing: border-box;
  border-radius: 8.75px 0px 0px 8.75px;
}
.sideCardR a {
  text-decoration: none;
}
.sideCardR a:hover {
  color: #0F3E84;
}
.sideCardR__img {
  position: absolute;
  margin-top: -80px;
}
.sideCardR__title {
  position: absolute;
  margin-top: 80px;
  margin-left: 11px;
}
.sideCardR__subtitle {
  display: block;
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 10px;
  letter-spacing: -0.02em;
  color: #0F3E84;
}
@media (max-width: 1209px) {
  .sideCardR {
    display: none;
  }
}

.sideCardL {
  position: fixed;
  right: 0;
  width: 140px;
  height: 151.31px;
  top: 30vh;
  z-index: 3;
  background: #FFC8EF;
  border: 1.75px solid #64D4FC;
  box-sizing: border-box;
  border-radius: 8.75px 0px 0px 8.75px;
}
.sideCardL a {
  text-decoration: none;
}
.sideCardL a:hover {
  color: #0F3E84;
}
.sideCardL__img {
  position: absolute;
  margin-left: -35px;
}
.sideCardL__title {
  position: absolute;
  margin-top: 120px;
  margin-left: 25px;
}
@media (max-width: 1209px) {
  .sideCardL {
    display: none;
  }
}

.nav {
  position: fixed;
  display: inline-block;
  height: auto;
  padding-top: 18px;
  width: 100%;
  overflow: visible;
  z-index: 6;
}
@media (max-width: 1209px) {
  .nav {
    background: #f1fcff;
    padding-top: 5px;
  }
}
.nav__item--logo {
  float: left;
  margin-left: 6%;
  margin-top: 5px;
  height: 48px;
}
.nav__item--links {
  float: right;
  width: auto;
  height: 48px;
  margin-top: 5px;
  margin-right: 7%;
}
.nav__item--icon {
  float: right;
  margin-top: 27px;
  margin-right: 21.26px;
  color: #557AB3;
  display: none;
}
@media (max-width: 1209px) {
  .nav__item--logo {
    width: 200.52px;
    height: 55px;
    margin-left: 15px;
    margin-top: 10px;
  }
  .nav__item--links {
    display: none;
    width: 100%;
    margin-right: 10px;
    height: auto;
    height: 100vh;
  }
  .nav__item--icon {
    display: block;
  }
}
.nav__links {
  display: inline-block;
  text-transform: uppercase;
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  margin-left: 16px;
}
@media (max-width: 1209px) {
  .nav__links {
    display: table;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 30px;
  }
}
.nav__links .mobile__icon {
  float: right;
  margin-left: 100px;
}
.nav__divider {
  display: none;
  width: 90%;
  margin-left: 30px;
  margin-right: 30px;
  top: 54px;
  border: 1px solid rgba(15, 62, 132, 0.2);
}
@media (max-width: 1209px) {
  .nav__divider {
    display: block;
  }
}
.nav__icon {
  display: inline-block;
  font-size: 30px;
}

.section {
  display: block;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../images/background2.png), url(../images/background1.png);
  background-position: right bottom, left bottom;
  background-size: 60%, 60%;
  background-repeat: no-repeat;
}
@media (max-width: 1209px) {
  .section {
    height: auto !important;
    background: none;
  }
}

.section.active {
  animation: fadeIn;
  animation-duration: 1s;
}
.section.active .first__img {
  animation: flipInX;
  animation-duration: 1s;
}
.section.active .first__des .des__title {
  animation: backInDown;
  animation-duration: 1s;
}
.section.active .first__des .des__subtitle {
  animation: bounceIn;
  animation-duration: 1s;
}
.section.active .first__des .des__text {
  animation: fadeInDown;
  animation-duration: 1s;
}
.section.active .second__how .how__step {
  animation: slideInLeft;
  animation-fill-mode: backwards;
  animation-duration: 1s;
}
.section.active .second__how .how__step:nth-of-type(1) {
  animation-delay: 1s;
}
.section.active .second__how .how__step:nth-of-type(2) {
  animation-delay: 2s;
}
.section.active .second__how .how__step:nth-of-type(3) {
  animation-delay: 3s;
}
.section.active .second__how .how__step:nth-of-type(4) {
  animation-delay: 4s;
}
.section.active .third__prize {
  animation: jackInTheBox;
  animation-fill-mode: backwards;
  animation-duration: 1s;
}
.section.active .third__prize:nth-of-type(1) {
  animation-delay: 1s;
}
.section.active .third__prize:nth-of-type(2) {
  animation-delay: 2s;
}
.section.active .third__prize:nth-of-type(3) {
  animation-delay: 3s;
}
.section.active .third__prize:nth-of-type(4) {
  animation-delay: 4s;
}
.section.active .swiper-slide {
  animation: rotateIn;
  animation-duration: 1s;
}
.section.active .fifth__news {
  animation: zoomIn;
  animation-duration: 1s;
}

.first__container {
  display: block;
  width: auto;
  height: auto;
  border: 2px solid #FF79CA;
  border-radius: 16px;
  background: #FFFFFF;
}
@media (max-width: 1209px) {
  .first__container {
    background: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 50px;
    border: none;
    overflow: hidden;
  }
}
.first__img {
  float: left;
  width: 60%;
  height: auto;
  margin-left: 42px;
  margin-top: 66px;
}
.first__img img {
  width: 100%;
}
@media (max-width: 1209px) {
  .first__img {
    width: 200%;
    margin-left: -75%;
    margin-top: 0;
  }
}
.first__des {
  float: left;
  width: 30%;
  margin-left: 30px;
  margin-top: 30px;
}
@media (max-width: 1209px) {
  .first__des {
    width: 100%;
    margin-left: 0;
  }
}
.first__des .des__img {
  width: 100%;
  display: block;
}
.first__des .des__title {
  margin-bottom: 8px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.first__des .des__title img {
  width: 100%;
  height: auto;
}
.first__des .des__subtitle {
  margin-bottom: 8px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.first__des .des__subtitle img {
  width: 100%;
  height: auto;
}
.first__des .des__text {
  width: 100%;
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #0F3E84;
  margin-bottom: 14px;
}
.first__des .des__button {
  display: inline-block;
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  border-color: #FEB3CF;
}

.second__container {
  display: block;
  width: auto;
  height: auto;
  border: 2px solid #FF79CA;
  border-radius: 16px;
  background: #FFFFFF;
}
@media (max-width: 1209px) {
  .second__container {
    background: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: none;
    overflow: hidden;
  }
}
.second__des {
  float: left;
  width: 20%;
  margin-top: 75px;
  margin-right: 5%;
  margin-left: 40px;
}
@media (max-width: 1209px) {
  .second__des {
    float: none;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
.second__des .des__title {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  letter-spacing: 0.06em;
  color: #9EE6FF;
  text-shadow: 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856, 6px 2px 1px #0c336d, 0 0 2px #0a2856;
}
@media (max-width: 1209px) {
  .second__des .des__title {
    margin-bottom: 60px;
    display: block;
    color: #FFFFFF;
    text-align: center;
  }
}
.second__des .des__subtitle {
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #0F3E84;
}
@media (max-width: 1209px) {
  .second__des .des__subtitle {
    display: none;
  }
}
.second__how {
  right: 0;
  display: inline-block;
  width: 70%;
}
@media (max-width: 1209px) {
  .second__how {
    width: 100%;
  }
}
.second__how .how__step {
  float: left;
  width: 50%;
  margin-top: 75px;
}
@media (max-width: 1209px) {
  .second__how .how__step {
    width: 100%;
    margin-top: 2px;
  }
}
.second__how .how__step .step__des {
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #0F3E84;
}
.second__how .how__step .step__text {
  width: 60%;
  float: left;
}
@media (max-width: 1209px) {
  .second__how .how__step .step__text {
    margin-left: 5%;
  }
}
.second__how .how__step .step__img {
  float: left;
  width: 30%;
}
.second__how .how__step .step__img img {
  width: 70%;
}
@media (max-width: 1209px) {
  .second__how .how__step .step__img img {
    width: 100%;
  }
}
.second__how .how__step .step__title {
  display: block;
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 23px;
  /* identical to box height, or 24px */
  letter-spacing: -0.02em;
  color: #18B5ED;
  text-shadow: 0 0 1px #0a2856, 0 0 1px #0a2856, 0 0 1px #0a2856, 0 0 1px #0a2856, 0 0 1px #0a2856, 0 0 1px #0a2856, 0 0 1px #0a2856;
}
@media (max-width: 1209px) {
  .second__how .how__step .step__title {
    margin-bottom: 14px;
  }
}

.third__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
  height: auto;
  border: 2px solid #FF79CA;
  border-radius: 16px;
  background: #FFFFFF;
  padding-top: 5%;
}
@media (max-width: 1209px) {
  .third__container {
    background: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: none;
    overflow: hidden;
    padding-top: 30%;
  }
}
.third__row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  width: 100%;
}
@media (max-width: 1209px) {
  .third__row {
    flex-wrap: wrap;
  }
}
@media (max-width: 1209px) {
  .third__row:nth-of-type(1) {
    flex-direction: column;
  }
}
.third__prize {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
@media (max-width: 1209px) {
  .third__prize {
    flex-direction: column;
    justify-content: center;
  }
}
.third__prize p {
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: bold;
  font-size: 17.1294px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #0F3E84;
}
.third__prize .prize__img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.third__prize .prize__img .img:nth-of-type(1) {
  margin-left: auto;
  margin-right: auto;
}
.third__prize .prize__img .img:nth-of-type(1):hover {
  animation-name: wave;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes wave {
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
.third__prize .prize__img .img:nth-of-type(1) {
  bottom: 0;
}
@media (max-width: 1209px) {
  .third__prize .prize__img {
    justify-content: center;
  }
}
.third__prize .prize__text {
  margin-left: 20px;
}
@media (max-width: 1209px) {
  .third__prize .prize__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.third__prize .prize__num {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
.third__prize .prize__num img {
  position: absolute;
}
.third__title {
  position: relative;
  display: flex;
  width: 35%;
  height: 50px;
  flex-direction: column;
  justify-content: flex-start;
}
.third__title .img:nth-of-type(1) {
  position: absolute;
  top: 0;
}
.third__title .img:nth-of-type(2) {
  position: absolute;
  margin-top: 30px;
}
.third__title .img:nth-of-type(3) {
  position: absolute;
  right: 0;
  margin-top: -100px;
  z-index: -1;
  display: none;
}
@media (max-width: 1209px) {
  .third__title {
    margin-top: 50px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
  }
  .third__title .img:nth-of-type(3) {
    display: flex;
  }
}
@media (max-width: 700px) {
  .third__title {
    width: 100%;
  }
  .third__title img {
    width: 100%;
  }
}

.fourth__container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border: 2px solid #FF79CA;
  border-radius: 16px;
  background: #FFFFFF;
  padding-top: 30px;
}
@media (max-width: 1209px) {
  .fourth__container {
    background: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: none;
    overflow: hidden;
  }
}
.fourth__title {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.fourth__title span {
  display: inline-block;
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: bold;
  font-size: 41.2927px;
  letter-spacing: 0.01em;
  color: #9EE6FF;
  text-shadow: 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856, 5px 2px 1px #0c336d, 0 0 2px #0a2856;
}
@media (max-width: 1209px) {
  .fourth__title span {
    color: #FFFFFF;
    width: 60%;
  }
}
.fourth__title div {
  float: right;
}
@media (max-width: 1209px) {
  .fourth__title div {
    display: none;
  }
}
.fourth__title p {
  display: none;
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #0F3E84;
}
@media (max-width: 1209px) {
  .fourth__title p {
    display: block;
    float: right;
    margin-top: 60px;
  }
}
.fourth__thumbnail {
  display: flex;
  width: 100%;
  height: 172px;
  overflow: hidden;
}
.fourth__thumbnail img {
  width: 100%;
  transition: all 0.2s;
}
.fourth__thumbnail:hover img {
  transform: scale(1.2);
}
.fourth__profile {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.fourth__profile a {
  width: 80%;
  display: flex;
}
.fourth__profile a img {
  object-fit: contain;
}
.fourth__profile p {
  display: flex;
  width: 70%;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #0F3E84;
}
@media (max-width: 1209px) {
  .fourth__profile p {
    width: 50%;
  }
}
.fourth__buttonGroup {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.swiper-container {
  width: 90%;
  height: auto;
}
@media (max-width: 1209px) {
  .swiper-container {
    width: 92%;
  }
}

.swiper-slide {
  background: #FFFFFF;
  border-radius: 10px;
  border: solid;
  border-color: #0f3e84;
  margin-bottom: 30px;
}

.fifth__container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border: 2px solid #FF79CA;
  border-radius: 16px;
  background: #FFFFFF;
  padding-top: 30px;
}
@media (max-width: 1209px) {
  .fifth__container {
    background: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: none;
    overflow: hidden;
  }
}
.fifth__title {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.fifth__title span {
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  letter-spacing: 0.01em;
  color: #9EE6FF;
  text-shadow: 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856, 5px 2px 1px #0c336d, 0 0 2px #0a2856;
}
.fifth__title div {
  float: right;
}
@media (max-width: 1209px) {
  .fifth__title div {
    display: none;
  }
}
.fifth__title p {
  display: none;
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #0F3E84;
}
@media (max-width: 1209px) {
  .fifth__title p {
    display: block;
    float: right;
    margin-top: 15px;
  }
}
@media (max-width: 1209px) {
  .fifth__title {
    margin-bottom: 35px;
  }
}
.fifth__list {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.fifth__news {
  float: left;
  position: relative;
  margin-bottom: 20px;
  width: 30%;
  height: 316px;
  background: #FFFFFF;
  border-radius: 10px;
  border: solid;
  border-color: #0f3e84;
}
.fifth__news h2 {
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin-top: 12px;
  letter-spacing: -0.02em;
  color: #1E2C5E;
  height: 57px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.fifth__news p {
  position: absolute;
  bottom: 0;
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: auto;
  text-align: left;
  letter-spacing: -0.02em;
  margin-bottom: 12px;
  color: #9CA5C5;
}
.fifth__news p .link {
  color: #FF79CA;
}
.fifth__news .img {
  width: 100%;
  display: block;
  height: 188px;
  overflow: hidden;
}
.fifth__news .img img {
  width: 100%;
  transition: all 0.2s;
}
.fifth__news .img:hover img {
  transform: scale(1.2);
}
@media (max-width: 1209px) {
  .fifth__news .img {
    display: inline-block;
    float: left;
    margin-right: 2px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: solid;
    border-color: #0f3e84;
  }
  .fifth__news .img img {
    width: 160%;
    margin-left: -33px;
  }
}
@media (max-width: 1209px) {
  .fifth__news {
    width: 100%;
    height: auto;
    margin-bottom: 22px;
    border: none;
  }
}
.fifth__news:nth-child(2) {
  margin-left: 5%;
  margin-right: 5%;
}
@media (max-width: 1209px) {
  .fifth__news:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
}
.fifth__text {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  height: 57px;
}
@media (max-width: 1209px) {
  .fifth__text {
    width: 60%;
    float: left;
  }
}

.sixth__container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 500px;
  border: 2px solid #FF79CA;
  border-radius: 16px;
  background: url(../images/final.png);
  background-position: center;
}
@media (max-width: 1209px) {
  .sixth__container {
    width: 100%;
    height: 700px;
    border: none;
    border-radius: 0;
    overflow: hidden;
    background: url(../images/final_mobile.png);
  }
}
.sixth__container a {
  display: none;
  width: 100%;
  border: solid;
}
.sixth__container a img {
  width: 100%;
}
.sixth__container a .desktop {
  display: block;
}
.sixth__container a .mobile {
  display: none;
}
@media (max-width: 1209px) {
  .sixth__container a {
    height: auto;
  }
  .sixth__container a .desktop {
    display: none;
  }
  .sixth__container a .mobile {
    display: block;
  }
}

.scroll {
  float: left;
  display: block;
  width: 100%;
  text-align: center;
}
.scroll__text {
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.01em;
  color: #0F3E84;
  margin-bottom: 15px;
}
@media (max-width: 1209px) {
  .scroll__text {
    margin-bottom: 5px;
  }
}
.scroll__icon {
  display: block;
  margin-bottom: 7px;
  animation: scroll_icon 1s infinite alternate;
}
@media (max-width: 1209px) {
  .scroll {
    display: none;
  }
}

@keyframes scroll_icon {
  from {
    opacity: 1;
    transform: translateY(-10px);
  }
  to {
    opacity: 0;
  }
}
.down__icon {
  margin-top: 7px;
  width: 38.59px;
  height: 26.28px;
}
@media (max-width: 1209px) {
  .down__icon {
    display: none;
  }
}

.centered {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake__container {
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 9999;
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.snowflake:nth-of-type(1) {
  left: 0;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(1) img {
  transform: scale(0.6);
}

.snowflake:nth-of-type(2) {
  right: 30%;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(2) img {
  transform: scale(0.8);
}

.snowflake:nth-of-type(3) {
  right: 10%;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(3) img {
  transform: scale(1);
}

.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 3s, 2s;
}
.snowflake:nth-of-type(4) img {
  transform: scale(0.5);
}

.snowflake:nth-of-type(5) {
  left: 20%;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) img {
  transform: scale(1);
}

.snowflake:nth-of-type(6) {
  right: 20%;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(6) img {
  transform: scale(0.5);
}

@keyframes glowing {
  from {
    box-shadow: 0 0 5px -5px #FEB3CF;
  }
  to {
    box-shadow: 0 0 5px 5px #FEB3CF;
  }
}
.glow_button {
  animation: glowing 0.5s ease-in-out infinite alternate;
}

.mobile__log {
  display: none;
  width: 100%;
  margin-top: 10vh;
}
@media (max-width: 1209px) {
  .mobile__log {
    display: inline-block;
  }
}
@media (max-width: 329px) {
  .mobile__log {
    margin-top: 0;
  }
}
.mobile__log li {
  display: inline-block;
}
.mobile__log .social__icon {
  display: inline;
  float: right;
}
.mobile__log .social__icon a {
  margin-right: 20px;
  color: gray;
}
@media (max-width: 329px) {
  .mobile__log .social__icon a {
    margin-right: 10px;
  }
}
.mobile__bg {
  width: 100%;
  display: none;
  height: 250px;
}
.mobile__bg img {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1209px) {
  .mobile__bg {
    display: block;
  }
}
.mobile__titleBg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: none;
}
@media (max-width: 1209px) {
  .mobile__titleBg {
    display: block;
  }
}

.footer {
  display: block;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  z-index: 5;
}
@media (max-width: 1209px) {
  .footer {
    position: relative;
  }
}
.footer__item {
  display: inline-block;
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  margin-left: 137px;
}
.footer__item a {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 52px;
}
@media (max-width: 1209px) {
  .footer__item a {
    color: #0F3E84;
    float: right;
    margin-left: 0;
    margin-right: 15px;
  }
}
.footer__item p {
  display: inline-block;
}
@media (max-width: 1209px) {
  .footer__item p {
    float: left;
    margin-left: 15px;
  }
}
@media (max-width: 1209px) {
  .footer__item {
    width: 100%;
    margin-left: 0;
    color: #0F3E84;
  }
}
.footer__item--social {
  float: right;
  margin-right: 137px;
}
.footer__item--social a {
  color: #0F3E84;
  text-decoration: none;
}
.footer__item--social li {
  display: inline-block;
  margin-left: 17px;
}
@media (max-width: 1209px) {
  .footer__item--social {
    display: none;
  }
}

.button__nav {
  border: 2px solid;
  border-radius: 38px;
  border-color: transparent;
  padding: 8px 16px;
  transition: all 0.5s;
  background: #FFFFFF;
}
.button__nav a {
  text-decoration: none;
  color: #557AB3;
}
.button__nav:hover {
  background: #64D4FC;
}
.button__nav:hover a {
  text-decoration: none;
  color: #557AB3;
}
.button__nav--login {
  border: 2px solid;
  border-radius: 38px;
  border-color: #FFC8DD;
  padding: 8px 16px;
  transition: all 0.5s;
  background: #FFC8DD;
}
.button__nav--login a {
  text-decoration: none;
  color: #0f3e84;
}
.button__nav--login:hover {
  border-color: #FF79CA;
  background: #FF79CA;
}
.button__nav--login:hover a {
  text-decoration: none;
  color: #0f3e84;
}
@media (max-width: 1209px) {
  .button__nav--login {
    display: none;
  }
}
.button__nav--mobileLog {
  border: 2px solid;
  border-radius: 38px;
  padding: 8px 16px;
  transition: all 0.5s;
  border-color: #0F3E84;
  background: #0F3E84;
}
.button__nav--mobileLog a {
  text-decoration: none;
  color: #FFFFFF;
}
.button__nav--mobileLog:hover {
  background: #FFFFFF;
}
.button__nav--mobileLog:hover a {
  text-decoration: none;
  color: #0F3E84;
}
.button--scroll {
  background: #FFFFFF;
  padding: 3px 12px;
  border-radius: 95px;
  color: #0f3e84;
}
.button--scroll a {
  text-decoration: none;
  color: #0f3e84;
}
.button--scroll:hover {
  background: #FFFFFF;
}
.button--scroll:hover a {
  text-decoration: none;
  color: #0f3e84;
}
.button__fourth {
  display: inline-block;
  padding: 8px 16px;
  background: #DCF6FF;
  border: 2px solid #64D4FC;
  box-sizing: border-box;
  border-radius: 38px;
  transition: all 0.5s;
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: #0F3E84;
}
.button__fourth a {
  text-decoration: none;
  color: #0F3E84;
}
.button__fourth:hover {
  background: #64D4FC;
}
.button__fourth:hover a {
  text-decoration: none;
  color: #0F3E84;
}
.button__swiper {
  padding: 8px 16px;
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-radius: 38px;
  transition: all 0.5s;
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
}
.button__swiper a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}
.button__swiper:hover {
  background: rgba(0, 0, 0, 0.4);
}
.button__swiper:hover a {
  text-decoration: none;
  color: #FFFFFF;
}
.button__swiper .like__letter {
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #0F3E84;
}
.button__footer {
  position: relative;
  display: inline-block;
  width: 45%;
  margin-top: 50px;
  height: 52px;
  display: none;
}
@media (max-width: 1209px) {
  .button__footer {
    display: block;
  }
}
.button__footer:nth-of-type(3) {
  float: right;
  background: #FFDFEB;
  border: 1.75px solid #FF95BD;
  box-sizing: border-box;
  border-radius: 20px;
}
.button__footer:nth-of-type(3) .img {
  position: absolute;
  right: -5px;
  margin-top: -25px;
}
.button__footer:nth-of-type(3) .img img {
  width: 100%;
}
.button__footer:nth-of-type(3) .title {
  position: absolute;
  margin-left: 30%;
  top: 5px;
}
.button__footer:nth-of-type(3) .title img {
  width: 100%;
}
.button__footer:nth-of-type(2) {
  float: left;
  background: #DEF8FF;
  border: 1.75px solid #64D4FC;
  box-sizing: border-box;
  border-radius: 20px;
}
.button__footer:nth-of-type(2) .img {
  position: absolute;
  left: -10px;
  margin-top: -50px;
}
.button__footer:nth-of-type(2) .img img {
  width: 60%;
}
.button__footer:nth-of-type(2) .title {
  position: absolute;
  margin-left: 35%;
  top: 5px;
}
.button__footer:nth-of-type(2) .title img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
